<!DOCTYPE html>
<html lang="en" ng-app="angularjsNodejsTutorial">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exercise Search</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="javascripts/app.js" type="text/javascript"></script>
    <!-- Custom styles for this template-->
    <link href="/stylesheets/common.css" rel="stylesheet">
   <!-- <link href="/stylesheets/exerciseSearch.css" rel="stylesheet">-->
</head>

<body ng-controller="exerciseSearchController">

<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand center"><a href='/'>Calorie Tracker</a></span>
    <a class="nav-item nav-link" href="/profile">Profile+</a>
    <a class="nav-item nav-link" href="/exerciseSearch">Exercise Search</a>
    <a class="nav-item nav-link" href="/foodSearch">Food Search</a>
    <a class="nav-item nav-link" href="/caloriesSearch">Calories Search</a>
    <a class="nav-item nav-link" href="/proteinSearch">Protein Search</a>
    <a class="nav-item nav-link" href="/logout">Log out</a>
</nav>

<!-- Sample Content. You can either use this or make your own -->

<div class="container exercise-container">
        
    <div class="jumbotron">
            <div class="h5">Exercise Search</div>
        <br>
        <div class="input-container">
            <div class="h6">Please enter the exercise name</div>
            <input type="text" ng-model="exerciseName" placeholder="Enter Exercise Name" id="exerciseName" class="exercise-input"/>
            <button class="btn btn-primary btn-sm" ng-click="submitExercise()">Submit</button>
        </div>
        <p></p>
        <div class="exercise-container">
            <!--          <div class="h6">search result</div>-->
            <!--          <div class="exercise">-->
            <!--            <div class="header"><strong>Please choose the exercise</strong></div>-->
            <!--          </div>-->
            <div class="exercise" id="results" ng-if="exerciseResults">
                <div class="header"><strong>Please choose the exercise</strong></div>
                <div class="dropdown-container">
                    <select class="dropdown" id="exerciseDropdown" ng-model="selectedExercise"
                            ng-options="e[0] for e in exerciseResults"
                            ng-change="submitE(selectedExercise)"
                    >

                    </select>
                </div>
            </div>



            <p></p>
            <div class="exercise1" id="results1" ng-if="calories">

                <div class="exercise1">
                    <div class="header"><em><strong>Calories per hour</strong></em></div>
                </div>
                <p></p>
                <div class="calories">{{calories[0][0]}}</div>
            </div>



        </div>
    </div>
</div>

<!-- Include these before the end of body tag in every HTML file -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>

</html>